{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Эклектика</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightgallery.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
    <!--[if IE 9]>
    <script>
        window.location = "oldbrowser/index.html";
    </script>
    <![endif]-->
</head>

<body>

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/logo-b.svg' %}" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if location == 'index' %}active{% endif %}"><a href="/">Главная</a></li>
                    <li><a href="/#our-services">Услуги</a></li>
                    <li><a href="/#about-">О нас</a></li>
                    <li class="{% if location == 'vacancy' %}active{% endif %}"><a href="{% url 'vacancy' %}">Вакансии</a></li>
                    <li class="{% if location == 'news' %}active{% endif %}"><a href="{% url 'news' %}">Новости</a></li>
                    <li class="{% if location == 'gallery' %}active{% endif %}"><a href="{% url 'gallery' %}">Галерея</a></li>
                    <li><a href="/#footer">Контакты</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>


{% block content %}
{% endblock %}

<div class="mobile-icon">
    <a href="https://api.whatsapp.com/send?phone=0555386666">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
    </a>
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Главная</a></li>
                        <li><a href="/#our-services">Услуги</a></li>
                        <li><a href="/#about-">О нас</a></li>
                        <li><a href="#news-revius">Новости</a></li>
                        <li><a href="{% url 'gallery' %}">Галерея</a></li>
                        <li><a href="/#footer">Контакты</a></li>
                    </ul>
                </div><!-- /.container-fluid -->
            </nav>
            <div class="bottom-line">
                <div class="pull-left">
                    <span>@2017 Образовательный цетр «Эклектика» </span>
                </div>
                <div class="pull-right">
                    <a href="">Разработка проекта
                        <img src="{% static 'img/png/logo-sun.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div>
</footer>

{% block modal %}
{% endblock %}
<!-- Modal -->


<!--[if lt IE 9]>
<script src="libs/html5shiv/es5-shim.min.js"></script>
<script src="libs/html5shiv/html5shiv.min.js"></script>
<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="libs/respond/respond.min.js"></script>
<![endif]-->

<script src="{% static 'js/jquery.2.2.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/readmore.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lightgallery.min.js' %}"></script>
<!--<script type="text/javascript" src="js/lg-fullscreen.js"></script>-->
<script type="text/javascript" src="{% static 'js/lg-thumbnail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lg-video.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXEuBW9AIFcfHx1UHvceIvCz0JnRNjGyo&callback=initMap"></script>
   <script>
       var map = null;
       var markers = [
           {lat: parseFloat('{{ contacts.location.latitude }}'.replace(',', '.')), lng: parseFloat('{{ contacts.location.longitude }}'.replace(',', '.'))}
       ];
       function initMap() {
           var haightAshbury = {lat: parseFloat('{{ contacts.location.latitude }}'.replace(',', '.')), lng: parseFloat('{{ contacts.location.longitude }}'.replace(',', '.'))};
           map = new google.maps.Map(document.getElementById('googleMap'), {
               center: haightAshbury,
               zoom: 14,
               mapTypeId: google.maps.MapTypeId.TERRAIN
           });
           for(var i = 0; i < markers.length; i++) {
               addMarker(markers[i]);
           }
       }
       function addMarker(location) {
           var marker = new google.maps.Marker({
               position: new google.maps.LatLng(location.lat,location.lng),
               map: map
           });
       }

       // Sets the map on all markers in the array.
       function setMapOnAll(map) {
           for (var i = 0; i < markers.length; i++) {
               markers[i].setMap(map);
           }
       }

       // Removes the markers from the map, but keeps them in the array.
       function clearMarkers() {
           setMapOnAll(null);
       }

       // Shows any markers currently in the array.
       function showMarkers() {
           setMapOnAll(map);
       }

   </script>
<script>
    $(document).ready(function () {
        $('.see-more').on('click', function (e) {
            e.preventDefault();
            var news_list = $('#news-grid');
            var that = this;

            var page = $(that).attr('data-page');
            page++;

            if(parseInt(page) <= parseInt($(that).attr('data-page-count'))) {
                $.ajax({
                    url: $(that).attr('href') + '?page=' + page,
                    method: 'GET',
                    dataType: 'html',
                    success: function (response) {
                        $(news_list).append(response);
                        $(that).attr('data-page', page);
                    },
                    error: function () {

                    }
                });
            }

        });
    });
</script>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'fFWssCFqtl';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
{% block custom_scripts %}

{% endblock %}

</body>
</html>
